html {
  body {
    #views-exposed-form-registrations-page-1 {
      #edit-dt-wrapper {
        h4 {
          display: none;
        }

        .container-inline {
          display: inline-block;
        }

        .form-item-dt-max-time,
        .form-item-dt-min-time {
          display: none;
        }
      }
    }

    form#elereg-settings {

      & > .fieldgroup {
        & > .fieldset-wrapper {
          .fieldgroup {
            .fieldset-wrapper {
              display: flex;
              flex-flow: row;
              height: 5em;
              flex-basis: 30%;

              h4 {
                line-height: 4em;
                margin: 0 0.5em 0 0;
                min-width: 150px;
                text-align: right;
              }

              .container-inline {
                margin-right: 2em;
              }
            }
          }
        }
      }
    }
  }
}

